listen_host = "127.0.0.1"
listen_port = 8080
socks5_port = 1081

connect_ip = "142.251.36.68"
front_domain = "www.google.com"

verify_ssl = true
log_level = "info"

[[groups]]
name = "google"
sni = "www.google.com"
connect_ip = ""
domains = ["google.com", "youtube.com", "youtu.be", "googlevideo.com", "ytimg.com", "gstatic.com", "googleapis.com", "googleusercontent.com", "ggpht.com", "gvt1.com", "gvt2.com"]

[[groups]]
name = "meta"
sni = "www.microsoft.com"
connect_ip = ""
domains = ["facebook.com", "instagram.com", "whatsapp.com", "whatsapp.net", "fb.com", "fbcdn.net", "meta.com"]

[[groups]]
name = "fastly"
sni = "github.githubassets.com"
connect_ip = ""
domains = ["reddit.com", "fastly.net", "githubassets.com", "githubusercontent.com"]

passthrough = ["localhost", "127.0.0.1"]
extra_domains = []
